<html>

<head>
    <meta charset="UTF-8">
    <title>Appointment confirmed</title>

    <style>
    </style>
</head>

<body>
    <h1>Appointment details</h1>
    <h3>Date: {{date}}</h3>
    <h3>Time: {{time}}</h3>
    <h3>Service: {{service}}</h3>
    <h3>Doctor: {{doctor}}</h3>
</body>

</html>