<html>

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <style>
    </style>
</head>

<body>
    <h1>Click on the link to reset your password.</h1>
    <a href={{link}}>Click Here</a>
    <p>Note: This link will expire in 1 hour.</p>
</body>

</html>