<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        h1 {
            color: green !important;
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
</body>

</html>